<h1>Score</h1>
<h3>Your results</h3>
<p>Your word: <%= @validword ? "valid" : "not valid" %></p>
<p>Time Taken to answer: <%=  %></p>
<p>Your score: <%=  %></p>
<p>Message: Congratulations!</p>
<%= link_to "Try again?", new_path %>
